<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tour_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tour_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :tour_price %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length, id: :tour_length %>
  </div>

  <div class="field">
    <%= form.label :destination_id %>
    <%= form.text_field :destination_id, id: :tour_destination_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
